<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Spotify Recommender</title>
    <script src="/scripts/script.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body class>

    <%- body -%>
    
  </body>
</html>
