/* nav credit to Dev Ed */
<nav>
    <div class="logo">
    <h3>spotify recommender</h3>
    </div>
    <ul class="nav-links">

    <!-- need to determine login status to determine href links --!>

    <li><a href="/index" class="active">about</a></li>
    <li><a href="/userhome">user home</a></li>
    <li><a href="/insights">insights</a></li>
    </ul>
    <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    </div>
</nav>

<div class="background">
    <div class="content">
    <!-- main site content goes here -->
    <div class="center-heading">
        Spotify Recommender      
    </div>
    <div class="center-text">
        <p>This Spotify Recommender is a team project from SPS Taiwan Google program.
        <br>This recommender will use machine learning algorithms to recommend songs based on a user's input playlist from Spotify. The algorithm will recommend a list of songs based on the features of the playlist </p>
        <br>Click User Home in the navigation bar to access the recommender. Click insights to access general info about your musical tastes based on your Spotify history. </p>
    </div>
    </div>
</div>

  