<nav>
    <div class="logo">
      <h3>spotify recommender</h3>
    </div>
      <ul class="nav-links">
        <li><a href="/" class="active">about</a></li>
        <li><a href="/userhome">user home</a></li>
        <li><a href="/insights">insights</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
  </nav>
  
  <div class="content">
      <h1>About</h1>
  </div>

  <script>
    const hash = window.location.hash
    .substring(1)
    .split('&')
    .reduce(function (initial, item) {
    if (item) {
        var parts = item.split('=');
        initial[parts[0]] = decodeURIComponent(parts[1]);
    }
    return initial;
    }, {});
    console.log(hash);
    // stash cookie
    // assign a redirect in next line 
    window.location.hash = '';

    // Set token
    let _token = hash.access_token;
    console.log(_token);
  </script>

  