<nav>
    <div class="logo">
    <h3>spotify recommender</h3>
    </div>
    <ul class="nav-links">
    <li><a href="index.html">about</a></li>
    <li><a href="userhome_loggedin.html">user home</a></li>
    <li><a href="insights_loggedin.html" class="active">insights</a></li>
    </ul>
    <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    </div>
</nav>

<div class="background">
    <div class="content">
    <!-- main site content goes here -->
    <div class="center-heading">
        Spotify Listening Insights      
    </div>
    <div class="center-text">
        The following are your insights. [Not part of MVP]
    </div>

    <!-- for printing insights from Spotify later -->
    
    <div class="insight-container"></div>
    
    <div class="button-align" style="text-align:center;">
        <br><a href="insights.html" class="button">Log out from Spotify</a>
    </div>
    </div>
</div>