<nav>
    <div class="logo">
    Spotify recommender
    </div>
    <ul class="nav-links">
    <li><a href="/index">about</a></li>
    <li><a href="/userhome" class="active">user home</a></li>
    <li><a href="/insights">insights</a></li>
    </ul>
    <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    </div>
</nav>

<div class="background">
    <div class="content">
        <!-- main site content goes here -->
    <div class="center-heading">
        Song Recommendation Dashboard      
    </div>
    <div class="center-text">
        To access the recommendation algorithm and dashboard, please login with your Spotify account or sign up with Spotify below.
    </div>
    
    <div class="button-align" style="text-align:center;">
        <br><a href="/loginPage" class="button">Log in with Spotify</a>
        <br><br><a href="https://www.spotify.com/signup/" class="button">Sign up with Spotify</a>
    </div>
    </div>
</div>