<nav>
    <div class="logo">
    Spotify recommender
    </div>
    <ul class="nav-links">
    <li><a href="index.html">about</a></li>
    <li><a href="userhome_loggedin.html" class="active">user home</a></li>
    <li><a href="insights_loggedin.html">insights</a></li>
    </ul>
    <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    </div>
</nav>

<div class="background">
    <div class="content">
    <!-- main site content goes here -->
    <div class="center-heading">
        Song Recommendation Dashboard      
    </div>
    <div class="playlist-select" style="padding-bottom: 0px;">
        <h1><b>Recommended songs based on selected playlist</b></h1>
        <br>
            
            <!-- retrieve from Datastore result after ML model -->

            <ul class="list-of-playlists">
                <li><a class="playlist-select-text">Song 1</a></li>
                <li><a class="playlist-select-text">Song 2</a></li>
                <li><a class="playlist-select-text">Song 3</a></li>
            </ul>
    </div>
    <br>
        <a href="userhome_loggedin.html" class="all-playlist">&#9664; All Playlists</a>

    
    <div class="button-align" style="text-align:center;">
        <br><a href="index.html" class="button">Log out of Spotify</a>
    </div>
    </div>
</div>