* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
  }

:root {
    --spotify-green: #1ed760;
}
  
  .content {
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    color: white;
  }

  .center-text {
    padding: 10px;
    font-size: 20px;
  }
  
  h1 {
    color: white;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

#root {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

body {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.audio {
  display: none;
}

.container {
  max-width: 1335px;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  height: 400px;
  flex-basis: 20%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
}

.grid-item-tracks {
  height: 400px;
  flex-basis: 80%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
}

.grid-row a {
  text-decoration: none;
  background-color: white;
}

.grid-item-wrapper {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  background: #f5f8fa;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  position: relative;
}

.grid-item-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: white;
}

.grid-image-top {
  height: 60%;
  width: 120%;
  background-size: cover;
  position: relative;
  background-position: 50% 50%;
  left: -10.5%;
  top: -4.5%;
}

/* .grid-image-top .centered {
  text-align: center;
  transform: translate(-50%, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 54.5%;
  left: 50%;
  width: 60%;
  height: 60%;
  background-position: center;
} */

.grid-item-content {
  padding: 0 20px 20px 20px;
  background-color: white;
}

.item-title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 18px;
  display: block;
  background-color: white;
  color: black;
}

.item-category {
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  background-color: white;
  font-size: 14px;
  color: black;
}

.item-excerpt {
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
}

.more-info {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  padding-left: 0;
  transition-duration: .5s;
  font-size: 12px;
  display: flex;
  color: grey;
}

.item-description {
  background-color: white;
  color: black;
}

.more-info:hover {
  padding-left: 20px;
  transition-duration: .5s;
  color: #1ed760;
}

.grid-item:hover .grid-item-wrapper {
  padding: 2% 2%;
  margin: -2% -2%;
}

#tracks {
  background-color: black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;

    margin-top: 50px;
}

#playlist-info {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    
    margin: 0px auto;
}

#playlist-cover {
    grid-row: 1 / span 1;
    padding: 30px 0px;
    max-width: 300px;
    max-height: 300px;
}

#playlist-name {
    grid-row: 2 / span 1;
    margin: 0px auto;
    font-size: 24px;
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

#track-info {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0px 300px 0px 10px;
}

.track {
    width: 100%;
    margin: 15px 10px;
}

.track-name {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', 'Noto Sans TC', sans-serif;
    font-weight: bold;
}

.track-name:hover {
    background: linear-gradient(180deg,rgba(255,255,255,0) 70%, #5C5C5C 70%);
}

.duration {
    color: #C2C2C2;
    padding: 0px 20px;
}

#buttons {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;

    margin-top: 30px;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24px;
    opacity: 0.9;
    transition: 0.3s;
    font-family: inherit;
}

.button:hover {
    opacity: 1.0;
}

#confirm {
    background-color: var(--spotify-green);
}

#back {
    background-color: #5C5C5C;
}

.icon {
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
    max-width: 10px;
    max-height: 10px;
    margin-right: 10px;

    cursor: pointer;
}

.artist {
    margin: 10px 0px;
    padding-left: 20px;
}

@media(max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 1073px) {
   .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media(max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color: black;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    z-index: 20;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 40%;
  }
  
  .nav-links a.active {
    color: #1ed760;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
  .logo {
    color: white;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 20px;
  }
  
  .burger {
    display: none;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  /* responsive navbar for tablet */
  @media screen and (max-width: 1020px) {
    .nav-links {
      width: 50%;
    }
    #tracks {
      display: grid;
      grid-template-rows: 1fr 5fr;
      grid-template-columns: 1fr;
    }

    #playlist-info {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    #track-info {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;

        margin: 0 auto;
    }
  }
  
  /* responsive navbar for mobile */
  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
  
    .nav-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      right: 0px;
      height: 95vh;
      width: 30%;
      top: 7vh;
      background-color: #222;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
  
    .nav-links li {
      opacity: 0;
      background-color: #222;
    }

    .nav-links a {
      background-color: #222;
    }
  
    .burger {
      display: block;
      cursor: pointer;
    }
    #tracks {
      grid-template-rows: 1fr 5fr;
      grid-template-columns: 1fr;
    }

    #playlist-info {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    #track-info {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;

        margin: 0 auto;
    }
  }
  
  .nav-active {
    transform: translateX(0%);
    background-color: #222;
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  #login {
    display: inline-block;
    height: 30px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color:#42474b;
    background-color:white;
    text-align: center;
    transition: all 0.2s;
  }
  
  #login:hover {
    color: #ffffff;
    background-color: #1ed760;
  }

input[type=text] {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    border-radius: 10px;
    padding: 0.35em 1.2em;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration: none;
    color:white;
}

input[type=submit] {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #42474b;
  text-align: center;
  transition: all 0.2s;
}
